main {
  /* background-color: #241c1c; */
  background-image: url("https://images.unsplash.com/photo-1658847412035-2ae0d3d5c364?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-size: cover;
  /* height: 100vh; */
}
main .App {
  height: 100vh;
  display: flex;
  align-items: center;
}
main .container-login {
  background-color: white;
  border-radius: 5px;
  width: 50rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  opacity: 0.92;
}
main .container-login img {
  width: 70%;
}
main .container-login {
  padding: 1rem;
}
body h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: black;
}
body .forms {
  display: flex;
  justify-content: space-evenly;
}
hr {
  border: 0.5px solid #241c1c;
  opacity: 100%;
}
body input {
  margin-bottom: 2rem;
}
form .form-control {
  border-color: #241c1c;
  border-radius: 4px;
}
body .form-login {
  display: flex;
  flex-direction: column;
  width: 60%;
}
body .div-link {
  display: flex;
  align-items: center;
}
body .div-link a {
  text-decoration: none;
  text-align: center;
}
body .div-link a:hover {
  background-color: #7a7171;
  color: white;
}
form .btn-primary,
.div-link a {
  border: 1.5px solid #7a7171;
  width: 8rem;
  padding: 0.6rem 0;
  border-radius: 4px;
  font-weight: 700;
}
form .btn-primary {
  background-color: #7a7171;
  margin-left: auto;
  margin-right: auto;
}
form .btn-primary:hover,
.div-link a {
  background-color: white;
  border: 1.5px solid #7a7171;
  color: #7a7171;
}

@media screen and (max-width: 1024px) {
  main .container-login {
    width: 40rem;
  }
}

@media screen and (max-width: 768px) {
  main .container-login {
    width: 75%;
  }
  body h1 {
    font-size: 1.6rem;
  }
  body .forms {
    flex-direction: column;
    align-items: center;
  }
  body .form-login {
    width: 80%;
  }
  hr {
    width: 60%;
  }
}
@media screen and (max-width: 425px) {
  main .container-login {
    width: 90%;
  }
  body h1 {
    font-size: 1.4rem;
  }
  .form-control {
    font-size: 0.8rem;
  }
  hr {
    width: 80%;
  }
}
@media screen and (max-width: 375px) {
  body .form-login {
    width: 85%;
  }
}
